*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to right, red, brown, white);
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

header nav a {
    text-decoration: none;
    color: white;
    margin: 2rem;    
}

header nav a:hover {
    color: wheat;
}

body {
    background-image: linear-gradient(to bottom, black, gray, darkgray, white);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

section {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 3px solid green;
    background-image: linear-gradient(90deg, brown, black, gray);
    max-width: 600px;
    border-radius: 10px;
    /*max-height: 200px;*/
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*border: 3px solid red;*/
    max-width: 100%;
    padding: 0.5rem;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
   
}

.gcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

#Jogo1 {
    display: flex;
    justify-content: center;
}

.Grupo {
    display: flex;
    flex-direction: column;
    /*border: 3px solid blue;*/
    flex-wrap: wrap; 
}

#Mata-Mata tr td {
    border: 3px solid red;
}

table {
    border-collapse:collapse;
    /*border: 3px solid yellow;*/
    border-radius: 9px;
    margin-bottom: 2rem;
    background-image: linear-gradient(90deg, brown, black, gray);
    /*max-width: 500px;*/
}


table .Equipes:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg,black, gray);
    
}

.Classificados {
    color: blue;
    font-size: 3rem;
    font-weight: bold;
}